.navbar-size {
  width: 95%;
  margin: 0 auto;
}

.user-image-size {
  height: 50px;
  margin: 4px 0;
}

.main-body {
  background-color: #F28487;
  color: white;
  min-height: calc(100vh - 64px);
  padding-top: 40px;
}

.materialboxed-image {
  margin: 20px auto;
  height: 250px;
  display: block;
}

.click-me-button {
  background-color: #EE6E73;
  margin-top: 30px;
}

.card-text {
  color: black;
}

.card .card-image img {
  height: 180px;
  object-fit: cover;
  object-position: top;
}

.card {
  margin-top: 20px;
}

.card .card-title,
.card p {
  text-align: center;
}

.modal {
  border-radius: 10px;
}

.modal .modal-footer {
  background-color: transparent;
}

.input-field>label
 {
    color: #040404;
    font-size: 20px;
 }
